.base16 .highlight .linenos {
    border-right: 1px solid #ddd;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: right;
    color: #bebec5;
}

.base16 .highlight {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    color: #303030;
}

.base16 .highlight .err {
    color: #151515;
    background-color: #ac4142;
}

.base16 .highlight .c, .base16 .highlight .cd, .base16 .highlight .cm, .base16 .highlight .c1, .base16 .highlight .cs {
    color: #505050;
}

.base16 .highlight .cp {
    color: #f4bf75;
}

.base16 .highlight .nt {
    color: #f4bf75;
}

.base16 .highlight .n {
    color: #303030;
}

.base16 .highlight .o, .base16 .highlight .ow {
    color: #d0d0d0;
}

.base16 .highlight .p, .base16 .highlight .pi {
    color: #d0d0d0;
}

.base16 .highlight .gi {
    color: #90a959;
}

.base16 .highlight .gd {
    color: #ac4142;
}

.base16 .highlight .gh {
    color: #6a9fb5;
    background-color: #151515;
}

.base16 .highlight .k, .base16 .highlight .kn, .base16 .highlight .kp, .base16 .highlight .kr, .base16 .highlight .kv {
    color: #aa759f;
}

.base16 .highlight .kc {
    color: #d28445;
}

.base16 .highlight .kt {
    color: #d28445;
}

.base16 .highlight .kd {
    color: #d28445;
}

.base16 .highlight .s, .base16 .highlight .sb, .base16 .highlight .sc, .base16 .highlight .sd, .base16 .highlight .s2, .base16 .highlight .sh, .base16 .highlight .sx, .base16 .highlight .s1 {
    color: #90a959;
}

.base16 .highlight .sr {
    color: #75b5aa;
}

.base16 .highlight .si {
    color: #8f5536;
}

.base16 .highlight .se {
    color: #8f5536;
}

.base16 .highlight .nn {
    color: #f4bf75;
}

.base16 .highlight .nc {
    color: #f4bf75;
}

.base16 .highlight .no {
    color: #f4bf75;
}

.base16 .highlight .na {
    color: #6a9fb5;
}

.base16 .highlight .m, .base16 .highlight .mf, .base16 .highlight .mh, .base16 .highlight .mi, .base16 .highlight .il, .base16 .highlight .mo, .base16 .highlight .mb, .base16 .highlight .mx {
    color: #90a959;
}

.base16 .highlight .ss {
    color: #90a959;
}