.native .highlight .linenos {
    border-right: 1px solid #ddd;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: right;
    color: #bebec5;
}

.native .highlight {
    background-color: #202020;
    color: #d0d0d0;
}

.native .highlight .hll {
    background-color: #404040
}

.native .highlight {
    background: #202020;
    color: #d0d0d0
}

.native .highlight .c {
    color: #999999;
    font-style: italic
}

.native .highlight .err {
    color: #a61717;
    background-color: #e3d2d2
}

.native .highlight .g {
    color: #d0d0d0
}

.native .highlight .k {
    color: #6ab825;
}

.native .highlight .l {
    color: #d0d0d0
}

.native .highlight .n {
    color: #d0d0d0
}

.native .highlight .o {
    color: #d0d0d0
}

.native .highlight .x {
    color: #d0d0d0
}

.native .highlight .p {
    color: #d0d0d0
}

.native .highlight .cm {
    color: #999999;
    font-style: italic
}

.native .highlight .cp {
    color: #cd2828;
}

.native .highlight .c1 {
    color: #999999;
    font-style: italic
}

.native .highlight .cs {
    color: #e50808;
    background-color: #520000
}

.native .highlight .gd {
    color: #d22323
}

.native .highlight .ge {
    color: #d0d0d0;
    font-style: italic
}

.native .highlight .gr {
    color: #d22323
}

.native .highlight .gh {
    color: #ffffff;
}

.native .highlight .gi {
    color: #589819
}

.native .highlight .go {
    color: #cccccc
}

.native .highlight .gp {
    color: #aaaaaa
}

.native .highlight .gs {
    color: #d0d0d0;
}

.native .highlight .gu {
    color: #ffffff;
}

.native .highlight .gt {
    color: #d22323
}

.native .highlight .kc {
    color: #6ab825;
}

.native .highlight .kd {
    color: #6ab825;
}

.native .highlight .kn {
    color: #6ab825;
}

.native .highlight .kp {
    color: #6ab825
}

.native .highlight .kr {
    color: #6ab825;
}

.native .highlight .kt {
    color: #6ab825;
}

.native .highlight .ld {
    color: #d0d0d0
}

.native .highlight .m {
    color: #3677a9
}

.native .highlight .s {
    color: #ed9d13
}

.native .highlight .na {
    color: #bbbbbb
}

.native .highlight .nb {
    color: #24909d
}

.native .highlight .nc {
    color: #447fcf;
}

.native .highlight .no {
    color: #40ffff
}

.native .highlight .nd {
    color: #ffa500
}

.native .highlight .ni {
    color: #d0d0d0
}

.native .highlight .ne {
    color: #bbbbbb
}

.native .highlight .nf {
    color: #447fcf
}

.native .highlight .nl {
    color: #d0d0d0
}

.native .highlight .nn {
    color: #447fcf;
}

.native .highlight .nx {
    color: #d0d0d0
}

.native .highlight .py {
    color: #d0d0d0
}

.native .highlight .nt {
    color: #6ab825;
}

.native .highlight .nv {
    color: #40ffff
}

.native .highlight .ow {
    color: #6ab825;
}

.native .highlight .w {
    color: #666666
}

.native .highlight .mf {
    color: #3677a9
}

.native .highlight .mh {
    color: #3677a9
}

.native .highlight .mi {
    color: #3677a9
}

.native .highlight .mo {
    color: #3677a9
}

.native .highlight .sb {
    color: #ed9d13
}

.native .highlight .sc {
    color: #ed9d13
}

.native .highlight .sd {
    color: #ed9d13
}

.native .highlight .s2 {
    color: #ed9d13
}

.native .highlight .se {
    color: #ed9d13
}

.native .highlight .sh {
    color: #ed9d13
}

.native .highlight .si {
    color: #ed9d13
}

.native .highlight .sx {
    color: #ffa500
}

.native .highlight .sr {
    color: #ed9d13
}

.native .highlight .s1 {
    color: #ed9d13
}

.native .highlight .ss {
    color: #ed9d13
}

.native .highlight .bp {
    color: #24909d
}

.native .highlight .vc {
    color: #40ffff
}

.native .highlight .vg {
    color: #40ffff
}

.native .highlight .vi {
    color: #40ffff
}

.native .highlight .il {
    color: #3677a9
}